NEXT_PUBLIC_APP_NAME=Jal-Setu
NEXT_PUBLIC_SITE_URL=https://jalsetu.me
NEXT_PUBLIC_API_URL=https://api.jalsetu.me
NEXT_PUBLIC_ADMIN_URL=https://admin.jalsetu.me
BACKEND_API_URL=https://api.jalsetu.me/api
