SECRET_KEY=change_this
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
MARKETPLACE_NAME=Bottle Wala Marketplace

DB_NAME=bottle_wala
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=host.docker.internal
DB_PORT=5432
DB_CONN_MAX_AGE=60

STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=7
ORDER_CURRENCY=INR

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx
RAZORPAY_API_BASE_URL=https://api.razorpay.com
RAZORPAY_TIMEOUT_SECONDS=15
